<!-- user-card.component.html -->

<ion-card>
  <ion-card-header>
    <ion-card-title>rafaelo_1943</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <img [src]="'https://scontent.fcue2-1.fna.fbcdn.net/v/t39.30808-6/310606451_421239893500924_2863315778471522995_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=bmJzq5hbZ9MAX-j8Org&_nc_ht=scontent.fcue2-1.fna&oh=00_AfDo6E7OmR1Ao7dlG1AkkTanuhrz8f9lt5zNOus86tFTGA&oe=65A5ACA8'" alt="Profile Image" class="profile-image" />
    <p>Oye tu, si estas bien este perfil no es porque me busques o me reses si no porque no sabes a la velocidad que me ilusiono</p>
  </ion-card-content>
</ion-card>
