/* color-list.component.scss */

ion-item {
    --inner-padding-top: 8px;
    --inner-padding-bottom: 8px;
  }
  
  .color-box {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  